{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Продукты</h1>
    <table class="table">
        <thead>
            <tr>
<!--                <th></th>-->
                <th>Еда</th>
                <th>Наименование</th>
                <th>Продавец</th>
                <th>Производитель</th>
                <th>Вес</th>
                <th>Цена</th>
                <th>Автор</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        {% for event in events_list %}
            <tr>
                <td><img class="image-thumbail" src="{{ event.food.photo.url }}" alt="Изображение не найдено" width="100" height="100"></td>
<!--                <td><div>{{ event.food.photo }}</div></td>-->
                <td><div>{{ event.name }}</div></td>
                <td><div>{{ event.retailer.name }}</div></td>
                <td><div>{{ event.supplier.name }}</div></td>
                <td><div>{{ event.weight }}</div></td>
                <td><div>{{ event.price }}</div></td>
                <td><div>{{ event.author }}</div></td>
                <td><div>{{ event.create_date }}</div></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}


